html, body {
    width: 100%;
    height: 100%;
    padding: 0;
}

#top-section {
    height: 40vh;
}

#top-left {
    height: 10vh;
}

#title-bar {
    background-color: rgb(47, 54, 74);
    height:10vh;
    width: 100%;
    color: white;
    overflow: hidden;
}

#title-image {
    position: absolute;
    top:2vh;
    left: 2vw;
    vertical-align: middle;
  }

#top-section {
  background-color: rgb(147, 200, 200);
  height:35vh;
  width:100%;
}

#bottom-section {
  background-color: white;
  height:45vh;
  width:100%;
  bottom: 0px;
}

#middle-section {
  background-color: rgb(233,237,241);
  height:10%;
  border-top: 2px solid rgb(47,53,74);
  border-bottom: 2px solid rgb(47,53,74);
  width:100%;
}

#mid-right {
    line-height: 25px;
}

#search-container {
    height: 35vh;
}

#search-results {
    align-items: center;
    text-align: center;
}

#cuisine-title {
    height:10vh;
    top:0px;
    text-align: center;
}

#cuisine-suggestions {
    text-align: center;
    align-items: center;
    height:37vh;
}

#metric-title {
    height:10vh;
    text-align: center;
}

#metric-suggestions {
    height:37vh;
    text-align: center;
    align-items: center;
}

#pinboard {
    border: 1px dashed rgba(0,0,1,1);
}

#bottom-section {
    width:100vw;
    height:45vh;
    border: 1px solid rgba(0,0,0,1);
}

.dTag {
    position:  relative;
    display: inline-block;
    text-align: center;
    top: 0px;
    margin: 1vh 1vw 1vh 0.5vw;
    left: 0vw;
    width: 6.25vw;
    height: 2.5vh;
    border: 1px  thin groove rgba(0,100,0,0.5);
    border-radius: 10vw;
    padding: 6px;
    line-height: 25px;
    overflow: hidden;
}

.dTag.cuisineTag {
    border-color:white;
    background-color:white;
}

.dTag.metricTag {
    border-color: black;
    background-color:black;
    color: white;
}

.dTag.suggestionTag {
    border-color: #818183;
    background-color: #818183;
    color: white;
}

#main-container {
    height: 100%;
}

#map-container {
    height: 100%;
}

#map-container > div {
    height: 90%;
}

.set-location {
    float: right;
}


#map {
    height: 100%;
    width: 100%;
    visibility: hidden;
}

.hexagon {
  fill: none;
  stroke: #000;
  stroke-width: .5px;
}
